@model LanguagesViewModel

@{
    ViewData["Title"] = "Languages list";
}


<form asp-controller="Languages" asp-action="Create" method="post">
    <label asp-for="CreateLanguage.LanguageName"></label>
    <input asp-for="CreateLanguage.LanguageName" />
    <span asp-validation-for="CreateLanguage.LanguageName"></span>
    <input type="submit" value="Register language" />
</form>

<form asp-action="Filter" asp-controller="Languages" method="post">
    <label asp-for="Search"></label>
    <input asp-for="Search" />
    <span asp-validation-for="Search"></span>
    <input type="submit" value="Enter string" />
</form>

@if (ViewBag.msg != null)
{
    <h3>@ViewBag.msg</h3>
}

@if (Model.Search != null && Model.LanguagesList.Count != 0)
{
    <h3>Posts filtered on: @Model.Search</h3>
    <a class="btn btn-primary" asp-action="Index" asp-controller="Languages">Remove filter</a>
}
else if (Model.Search != null && Model.LanguagesList.Count == 0)
{
    <h3>No posts were found when filtered on: @Model.Search</h3>
    <a class="btn btn-primary" asp-action="Index" asp-controller="Languages">Remove filter</a>
}

<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Language</th>
            <th>Person</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var language in Model.LanguagesList)
        {
            <tr>
                <td>@language.LanguageName</td>
                @if (language.PersonLanguages.Count > 0)
                {
                <td>
                    @foreach (var person in language.PersonLanguages)
                    {
                        @person.Person.PersonName @:<br />
                    }
                </td>
                } else
                {
                    <td></td>
                }
                <td><a class="btn btn-danger" asp-action="Delete" asp-controller="Languages" asp-route-id="@language.Id">Delete</a></td>

            </tr>
        }
    </tbody>
</table>
